body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#navbar-pills {
    width: 200px;
    height: 40px;
    font-size: large;
}

#left-column {
    background-color: #11161c;
}

.nav-link {
    color: #c0e2df;
}

.nav-link:hover {
    color: #c0e2df;
} 

.nav-link:active,
.nav-link.custom-active {
    color: #04c1af !important;
    outline: none;
    background-color: #28292b !important;
}

#maincard {
    width: 1200px;
    height: 700px;
    margin-left: 30px;
    margin-top: 40px;
    background-color:  #0a0a0b;
}

.col-md-10 {
    background-color: #11161c;
}

img {
    height: 80px;
    width: 150px;
    margin-top: 400px;
    margin-left: 20px;
}

#imagelink {
    display: inline-block;
}

hr {
    width: 1125px;
    height: 2px;
    background-color:#28292b;
    border: none;
    opacity: 1;
    margin-left: 35px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h1 {
    margin-top: 15px;
    margin-left: 35px;
    opacity: 1;
    font-weight: bold;
    color: #f4f5f5;
}

#global {
    margin: 0%;
    padding: 0%;    
    border-color: black;
    background-color: #00dbc7;
    color: #0a0a0b;
    font-size: 0.75rem;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 40px;
    margin-left: 438px;
    border-radius: 0.2rem;
}

#followed {
    margin: 0%;
    padding: 0%;    
    border-color: black;
    background-color: #00dbc7;
    color: #0a0a0b;
    font-size: 0.75rem;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 0.2rem;
}

table {
    margin-bottom: 20px;
}

.custom-table {
    width: 1125px;
    margin-left: 35px;
}

.custom-thead {
    text-transform: uppercase; 
    text-align: left;
}

.custom-thead th {
    padding: 0%;
    margin: 0%;
    padding-bottom: 16px;
    color: #919090;
}

.custom-body {
    border: 1px solid black;
}

.custom-body tr {
    border: 1px solid black;
}

.custom-body td {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #bebebe;
    background-color: #28292b;
}