#main-colour {
    background-color: #c0e2df;
}

#secondary-colour {
    background-color: #11161c;
}

#button-1 {
    border-color: black;
    color: black;
}

#button-1:hover {
    background-color: #11161c;
    color: #c0e2df;
}

.form-control {
    background-color: #11161c;
    border-color: #11161c;
    color: #c0e2df;
}

.form-control:focus {
    background-color: #11161c;
    color:#c0e2df;
}

#alert {
    background-color: #ffb9b9; 
    color: #990000; 
    border: 2px solid #ff7e7e; 
    border-radius: 1rem; 
    padding: 20px; 
    margin-bottom: 30px; 
  }
  
#alert p {
    margin: 0;
    font-weight: normal; 
    font-size: 1.1em; 
}
  