#main-colour {
    background-color: #f9a32f;
}

#secondary-colour {
    background-color: #11161c;
}

#button-1 {
    border-color: black;
    color: black;
}

#button-1:hover {
    background-color: #11161c;
    color: #f9a32f;
}

.form-control {
    background-color: #11161c;
    border-color: #11161c;
    color: #f9a32f;
}

.form-control:focus {
    background-color: #11161c;
    color: #f9a32f;
}

/* Custom Style for the alert */
#alert {
    background-color: #ffb9b9; /* Light yellow background */
    color: #990000; /* Dark brown text */
    border: 2px solid #ff7e7e; /* Border matching the background */
    border-radius: 1rem; /* Slightly more rounded corners */
    padding: 20px; /* More padding */
    margin-bottom: 30px; /* Extra space below */
  }
  
  #alert p {
    margin: 0;
    font-weight: normal; /* Lighter font weight */
    font-size: 1.1em; /* Slightly larger text */
  }
  