#navbar-pills { /* Styles for the navbar pills */
    width: 230px;
    height: 40px;
    margin-left: 10px;
    font-size: large;
}

#left-column { /* Background color for the left column */
    background-color: #11161c;
}

.nav-link { /* Default link color */
    color: #c0e2df;
}

.nav-link:hover { /* Hover effect for links */
    color: #c0e2df;
} 

.nav-link:active,
.nav-link.custom-active { /* Active link styles */
    color: #04c1af !important;
    outline: none;
    background-color: #28292b !important;
}

#maincard { /* Main card dimensions and background color */
    width: 1200px;
    height: 700px;
    margin-left: 30px;
    margin-top: 40px;
    background-color: #0a0a0b;
}

.col-md-10 { /* Background color for column */
    background-color: #11161c;
}

#recentincome { /* Styles for recent income card */
    width: 570px;
    height: 180px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: #11161c;
    padding: 0px;
    border-radius: 0.7rem;
}

#recentexpenses { /* Styles for recent expenses card */
    width: 570px;
    height: 180px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #11161c;
    padding: 0px;
    border-radius: 0.7rem;
}

#quickaccess { /* Styles for quickaccess card */
    width: 1160px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #11161c;
    border-radius: 0.7rem;
}

#graphs { /* Styles for recent graphs card */
    width: 1160px;
    height: 290px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #11161c;
    border-radius: 0.7rem;
}

#cardheader { /* Styles for the card header */
    color: white;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    font-size: small;
}

hr { /* Styles for horizontal rule */
    background-color: #28292b;
    margin-top: 4px;
    border: none;
    height: 2px;
    width: 100%;
    opacity: 1;
} 

#incomeshortcut { /* Income shortcut box styles */
    padding: 0%;
    margin: 0%;
    margin-left: 100px;
    width: 250px;
    height: 90px;
    background-color: #1b2329;
}

#expenseshortcut { /* Expense shortcut box styles */
    padding: 0%;
    margin: 0%;
    margin-left: 200px;
    width: 250px;
    height: 90px;
    background-color: #1b2329;
}

#leaderboardshortcut { /* Leaderboard shortcut box styles */
    padding: 0%;
    margin: 0%;
    margin-left: 300px;
    width: 250px;
    height: 90px;
    background-color: #1b2329;
}

.card { /* Card styles */
    background-color: #1b2329;
    border: none;
    padding: 0px;
}

#quickaccess { /* Quick access background color and padding */
    background-color: #11161c;
    padding: 0px;
}

.quickaccess-item { /* Individual quick access item styles */
    height: 90px;
    width: 250px;
    background-color: #22272d;
    margin: 0px;
    text-align: center;
    border-radius: 8px;
}

ul { /* List styles */
    list-style-type: none;
    padding: 0;
}

a { /* Link styles */
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortcuttext { /* Styles for shortcut text */
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: small;
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 20px;
}

.dot { /* Styles for the dot  */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #1a1a1b;
}

#quickaccess1 { /* Styles for quick access item 1 */
    margin-left: 70px;
}

#quickaccess2 { /* Styles for quick access item 2 */
    margin-left: 150px;
}

#quickaccess3 { /* Styles for quick access item 3 */
    margin-left: 150px;
}

#quickaccess1:hover #dot1,
#quickaccess1:hover #sct1 { /* Hover effect for quick access item 1 */
    color: #00FF00;
}

#quickaccess2:hover #dot2,
#quickaccess2:hover #sct2 { /* Hover effect for quick access item 2 */
    color: #FF0000;
}

#quickaccess3:hover #dot3,
#quickaccess3:hover #sct3 { /* Hover effect for quick access item 3 */
    color: #1e90ff;
}

#logo { /* Styles for logo */
    height: 80px;
    width: 150px;
    margin-top: 650px;
    margin-left: -190px;
}

#imagelink { /* Display setting for image link */
    display: inline-block;
}

#profilecircle { /* Styles for profile picture circle */
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-left: 20px;
    background-color: white;
}

#profilepic { /* Styles for profile picture */
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#profileusername { /* Styles for profile username */
    color: white;
    margin-left: 0px;
    margin-top: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#incometable { /* Income table styles */
    color: white;
    font-size: 0.9rem;
    margin-top: -5px;
    margin-left: 5px;
}

#expensetable { /* Expense table styles */
    color: white;
    font-size: 0.9rem;
    margin-top: -5px;
    margin-left: 5px;
}

#searchinput { /* Styles for the search input */
    margin: 0%;
    padding: 0%;    
    border-color: black;
    background-color: #00dbc7;
    color: #0a0a0b;
    font-size: 0.75rem;
    border-radius: 0.2rem;
    height: 26px;
    width: 140px;
    margin-top: 19px;
    margin-left: 55px;
}

#searchbutton { /* Styles for the search button */
    margin: 0%;
    padding: 0%;    
    border-color: black;
    background-color: #00dbc7;
    color: #0a0a0b;
    font-size: 0.75rem;
    border-radius: 0.2rem;
    height: 26px;
    width: 140px;
    margin-left: 55px;
    margin-top: 2px;
}

form { /* Form display settings */
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 100%; 
}

.income-pie-chart { /* Styles for income pie chart */
    width: 300px;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.expense-pie-chart { /* Styles for expense pie chart */
    width: 300px;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.img-center { /* Centering image styles */
    display: flex;
    align-items: center;
    justify-content: center;
}