#navbar-pills {
    width: 230px;
    height: 40px;
    margin-left: 10px;
    font-size: large;
}

#left-column {
    background-color: #11161c;
}

.nav-link {
    color: #c0e2df;
}

.nav-link:hover {
    color: #c0e2df;
} 

.nav-link:active,
.nav-link.custom-active {
    color: #04c1af !important;
    outline: none;
    background-color: #28292b !important;
}

#maincard {
    width: 1200px;
    height: 700px;
    margin-left: 30px;
    margin-top: 40px;
    background-color: #0a0a0b;
}

.col-md-10 {
    background-color: #11161c;
}

#recentincome {
    width: 570px;
    height: 180px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: #11161c;
    padding: 0px;
    border-radius: 0.7rem;
}

#recentexpenses {
    width: 570px;
    height: 180px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #11161c;
    padding: 0px;
    border-radius: 0.7rem;
}

#quickaccess {
    width: 1160px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #11161c;
    border-radius: 0.7rem;
}

#graphs {
    width: 1160px;
    height: 290px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #11161c;
    border-radius: 0.7rem;
}

#cardheader {
    color: white;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    font-size: small;
}

hr {
    background-color: #28292b;
    margin-top: 4px;
    border: none;
    height: 2px;
    width: 100%;
    opacity: 1;
} 

#incomeshortcut {
    padding: 0%;
    margin: 0%;
    margin-left: 100px;
    width: 250px;
    height: 90px;
    background-color: #1b2329;
}

#expenseshortcut {
    padding: 0%;
    margin: 0%;
    margin-left: 200px;
    width: 250px;
    height: 90px;
    background-color: #1b2329;
}

#leaderboardshortcut {
    padding: 0%;
    margin: 0%;
    margin-left: 300px;
    width: 250px;
    height: 90px;
    background-color: #1b2329;
}

.card {
    background-color: #1b2329;
    border: none;
    padding: 0px;
}

#quickaccess {
    background-color: #11161c;
    padding: 0px;
}

.quickaccess-item {
    height: 90px;
    width: 250px;
    background-color: #22272d;
    margin: 0px;
    text-align: center;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortcuttext {
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: small;
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 20px;
}

.dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #1a1a1b;
}

#quickaccess1 {
    margin-left: 70px;
}

#quickaccess2 {
    margin-left: 150px;
}

#quickaccess3 {
    margin-left: 150px;
}

#quickaccess1:hover #dot1,
#quickaccess1:hover #sct1 {
    color: #00FF00;
}

#quickaccess2:hover #dot2,
#quickaccess2:hover #sct2 {
    color: #FF0000;
}

#quickaccess3:hover #dot3,
#quickaccess3:hover #sct3 {
    color: #1e90ff;
}

#logo {
    height: 80px;
    width: 150px;
    margin-top: 650px;
    margin-left: -190px;
}

#imagelink {
    display: inline-block;
}

#profilecircle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-left: 20px;
    background-color: white;
}

#profilepic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#profileusername {
    color: white;
    margin-left: 0px;
    margin-top: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#incometable {
    color: white;
    font-size: 0.9rem;
    margin-top: -5px;
    margin-left: 5px;
}

#expensetable {
    color: white;
    font-size: 0.9rem;
    margin-top: -5px;
    margin-left: 5px;
}

#searchinput {
    margin: 0%;
    padding: 0%;    
    border-color: black;
    background-color: #00dbc7;
    color: #0a0a0b;
    font-size: 0.75rem;
    border-radius: 0.2rem;
    height: 26px;
    width: 140px;
    margin-top: 19px;
    margin-left: 55px;
}

#searchbutton {
    margin: 0%;
    padding: 0%;    
    border-color: black;
    background-color: #00dbc7;
    color: #0a0a0b;
    font-size: 0.75rem;
    border-radius: 0.2rem;
    height: 26px;
    width: 140px;
    margin-left: 55px;
    margin-top: 2px;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 100%; 
}