body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#navbar-pills {
    width: 200px;
    height: 40px;
    font-size: large;
}

#left-column {
    background-color: #11161c;
}

.nav-link {
    color: #f9a32f;
}

.nav-link:hover {
    color: white;
    background-color: #1b2329;
}

.nav-link:active, 
.nav-link:focus {
    color: white;
    outline: none;
    background-color: #11161c;
}

#buttoncolor:hover {
    color: #1b2329;
}

#imagelink img {
    width: 100%;
    max-width: 200px;
}

#maincard {
    background-color: #f9a32f;
}

.card {
    background-color: #1b2329;
    border: none;
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 1rem 0;
}

#firstsummary, #secondsummary {
    background-color: #11161c;
}

#firstsummary {
    margin: 0;
    padding: 1rem;
    width: 100%;
}

#secondsummary {
    margin-top: 1px;
    padding: 1rem;
    width: 100%;
}

#cardheader {
    color: white;
    font-weight: bold;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 9;
}

hr {
    background-color: white;
    margin: 0;
    border: none;
    height: 1px;
    width: 100%;
}

.expense-pie-chart {
    width: 68%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* border: 2px solid #ffffff;
    border-radius: 8px; */
}

.expense-frequency-polygon {
    width: 72%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* border: 2px solid #ff0000;
    border-radius: 8px; */
}

.income-pie-chart {
    width: 68%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* border: 2px solid #0055ff;
    border-radius: 8px; */
}

.income-frequency-polygon {
    width: 72%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* border: 2px solid #00ff5e;
    border-radius: 8px; */
}

.img-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.img-fluid {
    max-width: 100%;
    height: auto;
}

.row, .container-fluid {
    margin: 0;
    padding: 0;
}

.col-md-10 {
    background-color: #11161c;
}

/* remove these once ur done, just used this to make it visible so i could edit image size 
(all 4 image classes; expense n income)
border: 2px solid #00ff5e;
border-radius: 8px; */