#navbar-pills {
    width: 230px;
    height: 40px;
    margin-left: 10px;
    font-size: large;
}

#left-column {
    background-color: #11161c;
}

.nav-link {
    color: #c0e2df;
}

.nav-link:hover {
    color: #c0e2df;
} 

.nav-link:active,
.nav-link.custom-active {
    color: #04c1af !important;
    outline: none;
    background-color: #28292b !important;
}

#maincard {
    width: 1200px;
    height: 700px;
    margin-left: 30px;
    margin-top: 40px;
    background-color: #0a0a0b;
}

.col-md-10 {
    background-color: #11161c;
}

#logo {
    height: 80px;
    width: 150px;
    margin-top: 650px;
    margin-left: -190px;
}

#imagelink {
    display: inline-block;
}

hr {
    width: 1125px;
    height: 2px;
    background-color: #28292b;
    border: none;
    opacity: 1;
    margin-left: 35px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.custom-table-container {
    max-height: 1125px;
    overflow-y: auto;
    margin-left: 21px;
}

.custom-table-container::-webkit-scrollbar {
    width: 0;  
    height: 0;
}

table {
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
}

.custom-table {
    width: 1125px;
    margin-left: 13px;
}

.custom-thead {
    text-transform: uppercase; 
    text-align: left;
}

.custom-thead th {
    padding: 0%;
    margin: 0%;
    padding-bottom: 16px;
    color: #919090;
}

.custom-body {
    border: 1px solid black;
}

.custom-body tr {
    border: 1px solid black;
}

.custom-body td {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #bebebe;
    background-color: #28292b;
    font-weight: bold;
}

h1 {
    margin-top: 15px;
    margin-left: 35px;
    opacity: 1;
    font-weight: bold;
    color: #f4f5f5;
}

#filterbutton {
    background-color: #1a1a1b;
    border-color: black;
    color: #00dbc7;
    border-radius: 0.2rem;
    font-size: 0.75rem;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 50px;
    margin-top: 16px;
}

#filterbutton:hover {
    background-color: #1b2329; 
    border-color: #545b62;
}

#buttons {
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#incomebutton {
    margin-left: 10px;
    border-color: black;
    background-color: #00dbc7;
    font-size: 0.75rem;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0.2rem;
    color: #0a0a0b;
    margin-top: 16px;
    margin-right: -5px;
}

#expensebutton {
    margin-left: -13px;
    border-color: black;
    background-color: #00dbc7;
    font-size: 0.75rem;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0.2rem;
    color: #0a0a0b;
    margin-top: 16px;
    margin-right: -5px;
}

#profilecircle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-left: 78px;
    background-color: white;
}

#profilepic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#profileusername {
    color: white;
    margin-left: 79px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}