body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.card {
    height: 100%; 
    width: 100%;  
    border-radius: 0; 
}

.card-body {
    background-color: #f9a32f; 
}

table, td {
    border: 5px solid black !important;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
}












