<!DOCTYPE html>
<html>
<head>
    <title>New Expense Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/expense-income-form.css') }}">
</head>
<body>

<div class="log-popup">
    <h2>NEW EXPENSE LOG</h2>
    <form id="ExpenseForm" method="POST">
        <div class="inputboxes">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div class="inputboxes">
            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount" step="0.01" required>
        </div>
        <div class="inputboxes">
            <label for="category">Category</label>
            <select id="category" name="category" required>
                <option value="" disable selected>Select a category</option>
                <option value="food">Food</option>
                <option value="transport">Transport</option>
                <option value="bills">Bills</option>
                <option value="entertainment">Entertainment</option>
                <option value="other expenses">Others</option>
            </select>
        </div>
        <div class="inputboxes">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" required>
        </div>
        <button type="submit" class="submitbutton">Submit</button>
    </form>
</div>

</body>
</html>
