<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="container-fluid vh-100">
            <div class="row d-flex">
                <div class="col-md-2 d-flex vh-100" id="left-column">
                    <ul id="buttoncolor" class="nav nav-pills flex-column ms-0">
                        <li class="nav-item mt-4">
                            <a id="navbar-pills" class="nav-link" href="Home.html" style="border-radius: 0.3rem;"><i class="fas fa-house"></i>&nbsp;&nbsp;&nbsp;Home</a>
                        </li>
                        <li class="nav-item mt-2">
                            <a id="navbar-pills" class="nav-link" href="#" style="border-radius: 0.3rem;"><i class="fas fa-credit-card"></i>&nbsp;&nbsp;&nbsp;Transactions</a>
                        </li>
                        <li class="nav-item mt-2">
                            <a id="navbar-pills" class="nav-link" href="#" style="border-radius: 0.3rem;"><i class="fas fa-chalkboard-user"></i>&nbsp;&nbsp;&nbsp;Leaderboard</a>
                        </li>
                        <li class="nav-item mt-2">
                            <a id="navbar-pills" class="nav-link" href="#" style="border-radius: 0.3rem;"><i class="fas fa-chart-column"></i>&nbsp;&nbsp;&nbsp;Summary</a>
                        </li>
                        <li class="nav-item">
                            <a id="imagelink" href="Home.html">
                                <img src="../static/budgetbadgernobg.png" class="image-fluid mb-5" alt="Logo">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10 d-flex vh-100">
                    <div id="maincard" class="card">
                        <div class="row">
                            <div id="recentincome" class="card">
                                <p id="cardheader">Recent Incomes</p>
                                <hr>
                            </div>
                            <div id="recentexpenses" class="card">
                                <p id="cardheader">Recent Expenses</p>
                                <hr>
                            </div>
                        </div>
                        <div id="quickaccess" class="card">
                            <p id="cardheader">Quick Access</p>
                            <hr>
                            <div class="row d-flex">
                                <div id="quickaccess1" class="card quickaccess-item">
                                    <a href="incomeform.html">
                                        <span id="dot1" class="dot"><i class="fas fa-money-bill-1"></i></span>
                                        <p id="sct1" class="shortcuttext">+ New income</p>
                                    </a>
                                </div>
                                <div id="quickaccess2" class="card quickaccess-item">
                                    <a href="expenseform.html">
                                        <span id="dot2" class="dot"><i class="fas fa-credit-card"></i></span>
                                        <p id="sct2" class="shortcuttext">+ New expense</p>
                                    </a>
                                </div>
                                <div id="quickaccess3" class="card quickaccess-item">
                                    <a href="#">
                                        <span id="dot3" class="dot"><i class="fas fa-user-plus"></i></span>
                                        <p id="sct3" class="shortcuttext">+ Add friend</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="graphs" class="card">
                            <p id="cardheader">Monthly Report</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>