<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="container">
        <div class="profile-card">
            <img src="images/cover.webp" class="cover-pic">
            <img src="images/profile.png.avif" class="profile-pic">
            <h1>Kylian Mpaypal</h1>
            <p>Professional meth dealer</p>
            <a href="#" class="follow-btn">Follow</a>
            <div class="row">
                <div>
                    <p>Followers</p>
                    <h2>1.25M</h2>
                </div>
                <div>
                    <p>Following</p>
                    <h2>69</h2>
                </div>
                <div>
                    <p>Badges</p>
                    <h2>4</h2>
                </div>
            </div>
            <a href="#" class="view-btn">VIEW PROFILE</a>
        </div>
    </div>
</body>
</html>






